@font-face {
  font-family: 'alegreya';
  src: url('./fonts/alegreyasanssc-black-webfont.woff2') format('woff2'), url('./fonts/alegreyasanssc-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --yellow: #ffc92f;
  --red: #d82727;
  --black: #1b1b1b;
  --titlesFont: 'Yanone Kaffeesatz', Arial, sans-serif;
}

html,
body {
  height: 100%;
}

.wrapper {
  overflow: hidden;
  min-width: 1440px;
  position: relative;
}

body a {
  text-decoration: none;
}

body {
  color: #212121;
  flex: 1;
  background: url('./img/bg.jpg') center center / 250px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
}

ul>li {
  list-style: none;
}

.hero {
  height: auto;
  min-height: 650px;
  position: relative;
  margin-bottom: 130px;
  display: flex;
  flex-direction: column;
}

.hero:nth-child(1) {
  align-items: center;
}

.header {
  width: 1920px;
  display: flex;
  align-items: center;
  padding-top: 27px;
  margin-bottom: 20px;
  justify-content: space-between;
  /*  border: 0.1px solid black;
  /*   justify-content: flex-end; */
}

.header__logo {
  display: flex;
  margin-left: 149px;
}

.header__logo-pic {
  width: 125px;
  height: 125px;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu a {
  font: 23pt var(--titlesFont);
}

.header__search {
  margin-right: 70px;
}

.header__search-form {
  background-color: transparent;
  position: relative;
  width: 300px;
  margin: 0 auto;
  height: 42px
}

.header__search-input {
  background-color: #F9F0DA;
  height: 100%;
  width: 0;
  padding: 0 42px 0 15px;
  border: 3px solid rgb(110, 108, 108);
  border-radius: 25px;
  outline: none;
  transition: .4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
}

.header__search-input:focus {
  width: 300px;
  border-color: tomato;
}

.header__search-button {
  background: #683B4D;
  border: none;
  height: 47px;
  width: 47px;
  border-radius: 25px;
  position: absolute;
  outline: none;
  top: 0;
  right: 0;
  cursor: pointer;
}

.header__search-button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}



.header__add-recipe {
  margin-right: 90px;
  border: 4px solid #EC6060;
  border-radius: 10px;
  padding: 15px 35px;
  color: #EC6060;
  /* #ff5757 */
  background: #fff;
}

.header__add-recipe:hover {
  color: #fff;
  background: #EC6060;
}

.header__sign-up {
  margin-right: 15px;
}

.header__sign-in {
  margin-right: 62px;
}

.main {
  width: 1147px;
  background: #F2F0F0;
  height: auto;

}

.main__body {
  margin: 30px 50px;
}

.main__title {
  font: 30px / 1.42 "Roboto",
    Arial,
    sans-serif;
  color: #707070;
  margin-bottom: 38px;
}

.main__recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.recipe {
  border: 1px solid gray;
  width: 240px;
  height: auto;
  background: #fff;
  border-radius: 11px;
  margin: 0 25px 20px 0;
}

.recipe:nth-child(4n) {
  margin-right: 0;
}

.recipe__link-img {
  display: flex;
  justify-content: center;
  margin: 5px 0 11px 0;
}

.recipe__img {
  width: 225px;
  max-height: 169px;
  border-radius: 15px;
}

.recipe__link-name {
  font-size: 15px;
  text-align: center;
  color: var(--black);
  margin: 0 15px 14px 15px;

  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 1;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  line-height: 19px;

}

.recipe__link-author {
  display: flex;
  margin: 0 0 21px 10px;
  align-items: center;
}

.recipe__img-author {
  width: 23px;
  height: 23px;
}

.recipe__name-author {
  font-size: 15px;
  color: var(--black);
  margin-left: 10px;
}

.recipe__desc {
  margin-bottom: 9px;
}

.desc {
  display: flex;
  justify-content: center;
}

.desc__item {
  display: flex;
  margin-right: 15px;
  align-items: center;
}

.desc__item-icon {
  width: 23px;
  height: 23px;
  margin-right: 5px;
}

.desc__item:nth-child(2n) {
  margin-right: 12px;
}

.desc__item:last-child {
  margin-right: 0;
}

.desc__item-title {}

.sidebar {
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  height: 100%;
  background: #F3E7A5;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font: 25pt var(--titlesFont);
  transition: width .3s;
  padding: 26px 0 50px 20px;
}

.sidebar--opened {
  width: 350px;
  padding: 26px 0 50px 20px;
}

.sidebar--opened .sidebar__hamburger {
  display: none;
}

.sidebar--opened .sidebar__close {
  display: flex;
}

.sidebar__hamburger {
  position: absolute;
  display: block;
  top: 27px;
  left: 50%;
  right: 0;
}

.sidebar__hamburger-icon {
  position: absolute;
  top: 15px;
  right: 23px;
  width: 54px;
  height: 54px;
}

.sidebar__close {
  position: absolute;
  display: none;
  top: 27px;
  left: 0;
  right: 0;
  z-index: 1;
}

.sidebar__close-icon {
  position: absolute;
  top: 15px;
  right: 23px;
  width: 54px;
  height: 54px;
}

.sidebar__aside {}

.sidebar__aside--hamburger {
  position: absolute;
  display: block;
  left: -400px;
  transition: left .3s;
}

.sidebar--opened .sidebar__aside--hamburger {
  left: 0;
  width: 100%;
  position: relative;
  transition-delay: .1s;
}


.sidebar__profile {
  margin: 25px 0 55px 0;
}

.profile {
  display: flex;
  align-items: flex-end;
  margin: 0 0 35px;
}

.profile__img {}

.profile__img-icon {
  width: 124px;
  height: 124px;
}

.profile__money {
  display: flex;
  align-items: center;
}

.profile__money-icon {
  width: 55px;
  height: 55px;
}

.profile__money-count {
  color: goldenrod;
}

.profile__parlor {
  position: relative;
  display: flex;
  /* align-items: center; */
}

.profile__name {
  color: cornflowerblue;
  margin-right: 10px;
}

.profile__list {
  font-size: 25px;
  background: violet;
  width: 20px;
  height: 100%;
}

.profile__list:hover .profile__list-menu {
  opacity: 1;
  top: 25px;
}

.profile__list::after {
  content: " ";
  position: absolute;
  border: 10px solid;
  border-color: transparent transparent #3d3d3d transparent;
  transition: .5s;
}

.profile__list:hover::after {
  transform: scaleY(-1);
  top: .3em;
  transition: .5s;
}

.profile__list-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 10px 20px 10px 10px;
  top: -999999em;
  opacity: 0;
  transition: .5s opacity;
  background: transparent;
}

.profile__list-item {
  margin-bottom: 10px;
}

.profile__list-link {
  color: plum;
}

.profile__list-link:hover {
  color: #EC6060;
}

.sidebar__menu {}

.sidebar__menu-list {}

.sidebar__menu-item {
  margin: 0 0 20px 0;
}

.sidebar__menu-link {
  text-transform: uppercase;
}

.scrollup {
  position: fixed;
  color: #ff5757;
  /* background-color: #286090; */
  right: 70px;
  bottom: 70px;
  padding: 12px 15px;
  font-size: 30px;
  border-radius: 90px;
  border: 5px #ff5757 solid;
  cursor: pointer;
  display: none;
  text-align: center;
}

.scrollup:hover {
  background-color: #ff5757;
  /* 286090 */
  color: #fff;

}

/*
.container {
  margin: 0 auto;
  width: 1300px;
}



.mail {
  text-decoration: none;
  text-align: center;
  color: inherit;
}

.mail__title {
  margin-bottom: 3px;
}

.mail__content {
  background: #212121;
  color: var(--yellow);
  padding: 5px 10px;
}

.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1140px;
  height: 72%;
}

.sidebar {
  width: 75px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: #212121;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: width .3s;
}

.sidebar--opened {
  width: 325px;
  padding: 0 3% 0 4%;
}

.sidebar__menu {
  position: absolute;
  left: -400px;
  transition: left .3s;
}

.sidebar--opened .sidebar__menu {
  left: 0;
  width: 100%;
  text-align: center;
  transition-delay: .1s;
}

.sidebar__hamburger-icon {
  width: 29px;
  height: 29px;
  fill: var(--yellow);
}

.sidebar__hamburger {
  display: block;
  position: absolute;
  top: 27px;
  left: 50%;
  transform: translate(-50%);
}

.sidebar--opened .sidebar__hamburger {
  display: none;
}

.sidebar--opened .sidebar__header {
  display: flex;
}


.sidebar__header {
  position: absolute;
  top: 29px;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
}

.sidebar__close {
  position: absolute;
  top: -4px;
  right: 23px;
}

.sidebar__close-icon {
  width: 29px;
  height: 29px;
  fill: var(--yellow);
}

.side-menu__item {
  margin-bottom: 20px;
}

.side-menu__link {
  font-size: 20px;
  color: var(--yellow);
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--titlesFont);
}

.side-menu__link:hover {
  color: var(--red);
}

.fade-slider {
  width: 100%;
  height: 100%;
}

.fade-slider__item {
  background: center center / contain no-repeat;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .3s;
}

.fade-slider__item--visible {
  opacity: 1;
}



.fade-slider__item--style-tshirts {
  background-image: url("./img/content/hero/slider_pic_1.png");
}

.fade-slider__item--style-tshirts .fade-slider__text {
  left: 60%;
  top: 50%;
  transform: translateX(-164%) translateY(-52%);
}

.fade-slider__item--style-games {
  background-image: url("./img/content/hero/slider_pic_2.png");
}

.fade-slider__item--style-games .fade-slider__text {
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.fade-slider__item--style-games .lined-text {
  align-items: center;
}

.fade-slider__item--style-presents {
  background-image: url("./img/content/hero/slider_pic_3.png");
}

.fade-slider__item--style-presents .fade-slider__text {
  left: 0;
  bottom: 0;
  transform: translateY(-120%);
}

.fade-slider__item--style-presents .lined-text {
  align-items: center;
}

.fade-slider__text {
  position: absolute;
}

.lined-text {
  font-family: "alegreya", Arial, sans-serif;
  color: #fff;
  font-size: 63px;
  text-transform: uppercase;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}


.lined-text__word {
  background: #000;
  padding: 0 17px 8px;
  margin-top: -7px;
  white-space: nowrap;
}

.lined-text__word--color-yellow {
  color: var(--yellow);
}

.lined-text__word:nth-child(2n) {
  margin-left: 8px;
}

.lined-text--no-indent .lined-text__word {
  margin-left: 0;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.filter__item {
  margin-right: 40px;
}

.filter__item:last-child {
  margin-right: 0;
}

.filter__link {
  font-family: var(--titlesFont);
  text-transform: uppercase;
  padding: 3px 21px;
  color: var(--black);
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
}

.filter__link:hover {
  color: var(--red);
}

.filter__item--active .filter__link {
  color: var(--yellow);
  background: var(--black);
}

.products {
  margin-bottom: 160px;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -28px;
}

.products__item {
  width: 303px;
  height: 386px;
  background: var(--yellow);
  margin-bottom: 35px;
  margin-left: 28px;
  position: relative;
}

.products__price {
  position: absolute;
  top: 18px;
  left: -6px;
  width: 126px;
  border-bottom: 45px solid #232323;
  border-left: 5px solid transparent;
  border-right: 2px solid transparent;
  transform: rotate(-181deg);
}

.products__price-amount {
  font-size: 30px;
  font-weight: bold;
  font-family: var(--titlesFont);
  color: #fff;
  transform: rotate(181deg);
  position: absolute;
  top: 2px;
  right: 28px;
}

.products__item--color-black {
  background: #232323;
}

.products__item--color-black .products__price {
  border-bottom-color: var(--yellow);
}

.products__item--color-black .products__price-amount {
  color: #212121;
}

.products__item--size-double {
  width: 634px;
  height: 544px;
}

.products__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.products__item:hover .products__desc {
  transform: translateY(0%);
}

.products__desc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 23px 30px;
  background: rgba(35, 35, 35, .8);
  font-size: 15px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(100%);
  transition: transform .3s;
}

.products__img {
  display: block;
  max-width: 90%;
  max-height: 100%;
}

.products__desc-text {
  text-align: center;
  margin-bottom: 18px;
}

.btn {
  text-transform: uppercase;
  font-family: var(--titlesFont);
  font-size: 24px;
  padding: 2px 30px;
  background: var(--black);
  color: var(--yellow);
  display: inline-block;
  text-decoration: none;
}

.btn:hover {
  background: var(--red);
  color: #fff;
}

.collections {
  margin-bottom: 135px;
}

.collections__list {
  display: flex;
}

.collections__item {
  min-height: 474px;
  flex: 1;
  overflow: hidden;
  margin-right: 30px;
  background: url('./img/bg/pattern.png') center center / 500px;
  position: relative;
}

.collections__item:before {
  content: "";
  display: block;
  position: absolute;
  height: 176%;
  width: 60%;
  top: -17%;
  left: -18%;
  background: center center / contain no-repeat;
}

.collections__item--type-guys:before {
  background-image: url('./img/collections/collection_man.png');
}

.collections__item--type-girls:before {
  background-image: url('./img/collections/collection_woman.png');
  top: -31%;
  width: 80%;
  left: -25%;
}

.collections__link {
  display: block;
  padding: 74px 13% 74px 44%;
  text-decoration: none;
  color: inherit;
  font-size: 15px;
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

.collections__link:hover .btn {
  background: var(--red);
  color: #fff;
}

.collections__title {
  font-family: var(--titlesFont);
  font-size: 70px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 11px;
}

.collections__item:last-child {
  margin-right: 0;
}

.collections__desc {
  margin-bottom: 28px;
}

.footer {
  margin-bottom: 115px;
}

.footer__container {
  width: 1105px;
}

.site-menu {
  margin-bottom: 115px;
}

.site-menu__sections {
  display: flex;
  justify-content: space-between;
}

.site-menu__col {
  margin-right: 20px;
}

.site-menu__col:last-child {
  margin-right: 0px;
}

.site-menu__title {
  font-family: var(--titlesFont);
  font-size: 24px;
  font-weight: bold;
  color: var(--black);
  text-transform: uppercase;
  margin-bottom: 24px;
}

.site-menu__item {
  margin-bottom: 15px;
}

.site-menu__link {
  color: #737373;
  font-size: 15px;
  text-decoration: none;
}

.site-menu__link:hover {
  color: var(--red);
}

.site-menu__text {
  font-size: 15px;
  color: var(--black);
  margin-bottom: 30px;
}

.site-menu__text-row {
  color: inherit;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.extras {
  display: flex;
  margin-bottom: 95px;
}

.extras__col {
  margin-right: 20px;
  flex: 1;
}

.extras__col:last-child {
  margin-right: 0px;
}

.extras__best {
  text-align: center;
  color: #fff;
  background: #232323;
  font-size: 50px;
  font-weight: bold;
  font-family: var(--titlesFont);
  text-transform: uppercase;
  padding: 39px 10%;
  display: block;
  text-decoration: none;
  line-height: 1;
}

.extras__col-socials {
  height: 100%;
  background: url('./img/bg/pattern.png') center center / 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials {
  display: flex;
}

.socials__item {
  margin-right: 50px;
}

.socials__item:last-child {
  margin-right: 0px;
}

.socials__link {
  width: 38px;
  height: 38px;
  display: block;
}

.socials__link:hover .socials__icon {
  fill: var(--red);
}

.socials__icon {
  width: 100%;
  height: 100%;
}
*/